@import "normalize.css";


/*======main body========*/


body{
	max-width:960px;
	margin-right:20px;
	margin-left:20px;
}

h1{
	position:absolute;
	left:580px;
	top:37px;
}

/*=======Nav==========*/
#navbar{
	position:absolute;
	left:15px;
	top:160px;
	width:938px;
}

ul#list-nav {
	position:absolute;
	left:15px;
	top:143px;
	list-style:none;
	margin:20px;
	padding:0;
	width:960px
}

ul#list-nav li {
  display:inline
}

ul#list-nav li a {
  text-decoration:none;
  padding:5px 0;
  width:125px;
  background:#99cc99;
  color:ffffff;
  float:left;
  text-align:center;
  border-left:1px solid #000;
}

ul#list-nav li a:hover {
  background:#ccffcc;
  color:#000
}
article{
	position:absolute;
	left:75px;
	top:400px;
}	
#address{
	position:absolute;
	left:550px;
	top:650px;
}
p{
	position:absolute;
	left:550px;
	top:385px;
	width:300px;
}

h2{	
	position:absolute;
	left:375px;
	top:250px;
}	
	
#backcolor{
	position:absolute;
	left:15px;
	top:189px;
	width:938px;
}	

#footer{
	position:absolute;
	left:15px;
	top:830px;
	width:960px;


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}


/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}